{% extends 'index.html' %}


{% block body %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="" action="/accounts/login/" method="POST">{% csrf_token %}
                <input type="test" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password" />
                <br/>
                <br/>
                <input type="submit" class="btn btn-info" value="Login"/>
                <span style="color:red;">{{ login_err }}</span>
            </form>
        </div>
    </div>
{% endblock %}